:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

.search-form {
  text-align: center;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: midnightblue;
}

.gallery {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 280px;
  grid-gap: 12px;
  justify-content: center;
  padding: 0;
  list-style: none;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.gallery__item {
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.gallery__image:hover {
  transform: scale(1.03);
}

.gallery__image {
  height: 80%;
  max-width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.gallery__link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.gallery__link:hover {
  cursor: zoom-in;
}

.info {
  display: flex;
  text-align: center;
}

.info-item {
  display: block;
  margin: 1%;
}

.box_load-more {
  text-align: center;
  margin-bottom: 30px;
}

.load-more {
  height: 30px;
  width: 100px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  color: rgb(229, 229, 236);
  background-color: midnightblue;
}
